
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    color: #333;
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

section#welcome {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
}

section#featured-stories {
    padding: 20px;
}

section#featured-stories article {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
}
